/* src/styles/App.css */

.graph-container {
    position: relative;
    width: 80%;
    max-width: 1500px;
    margin: 20px auto;
  }
  
  .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensure the dot doesn’t interfere with interactions */
  }

  .message {
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  